

.covid_bar{
  background-color: #f7f7f7;
  padding: 16px 0;
  text-align: center;
}

.covid_link{
  color: #000;
  font-size: 12px;
  text-decoration: underline;
  font-weight: bold;
}

@media(min-width: 744px){
  .covid_bar{
    background-color: #222222;
    padding: 18px 0;
  }

  .covid_link{
    color: #A3A3A3CC;
    font-size: 14px;
  
  }
  
}

