

.tab__container{
    /* position: absolute; */
    width: 100%;
    /* top: 50px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main__spot{
    font-size: 14px;
    color: rgb(34,34,34);
    line-height: 18px;
}

.sub__spot{
    color: rgb(113, 113, 113);
}

@media(min-width: 744px){
    .tab__container{
        grid-template-columns: repeat(3, 1fr);
    }
    
}


@media(min-width: 991px){
    .tab__container{
        grid-template-columns: repeat(4, 1fr);
    }
    
}
